* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ye 3 line by default hoti hi hain har page pe.*/
  /*color: aqua; */
} /* Global Selector*/

body {
  font-family: "sono", sans-serif; /* font aisa rakh jo baki systems pe bhi recognize hopae*/
  background-color: #292524;
  color: #fafaf9;
  padding: 48px 64px 0px;
}

/*Main Layout*/

.hidden {
  display: none !important; /* only used in utter urgent cases */
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

.disputed {
  color: #ef4444;
  font-weight: 600;
  margin-right: 10px;
}

#root {
  /* background-color: orangered;  FOR VISUALIZATION */
  max-width: 1500px;
  margin: 0 auto;

  /* viewport height */
}

.header {
  margin-bottom: 40px; /*for vertical spacing b/w form and header*/
  /*background-color: red; for visualization purpose only*/
  display: flex; /*ye karte hi side by side hogye */
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: calc(100vh - 48px - 68px - 40px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

section {
  padding-bottom: 40px;
  overflow: scroll;
}
/* Elements */

.logo {
  /*background-color: blue;  padding: 10px; to vizualise clearly*/
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  /* alag se class nai bani aka SENDIN selector something logo wali class thi usika img select karlia*/
  width: 68px;
  height: 68px; /* width dalte hi height auto calc. but still daalde*/
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  /*text-align: center; */
  font-family: "Coiny", arial, sans-serif;
  /* 2 fonts ka chakkar ye hai ki agar google font load na hopae due to network error or something toh default font lagjae aka sans serif*/
  /* color: #fafaf9;  not required anymore */
  line-height: 1;
  margin-top: -2px;
  /* ALTERNATE HOSAKTA HAI NEECHE WALI LINE KA margin-left: 20px; 
  "gap" logo me daaldo jaha flex laga hua hai */
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4; /*140%*/
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  /* padding-left: 40px; and then 40 is also applied to the left*/
  /*border: 4px solid Red; */

  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  padding-top: 3px;
  padding-bottom: 2px; /*font family by default kuch padding daalri hai */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.vote-buttons button:disabled {
  background-color: #44403c;
}

ul {
  /*in the lists by default html gives bullets so by css we always tend to mend it*/
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0px 13px; /*  shortcut yahan pe 0 left right ke lie hai aur baki dono top & bottom */
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%; /*whenever % is specified it will be calculated and applied with respect to the parent element, which could be seen by devTools */
}

.btn-category {
  width: 100%;
  background-image: none;
}

/*form*/

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  /* :: for pseudo element*/
  color: #a8a29e;
}

.fact-form input:first-child {
  /* background-color: red; */
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    /* padding: 32px 48px; */
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}
